<html>
  <head></head>
  <body>
    <form>
      <div class="form-group">
        <h2>Log Into Your Account</h2><br>
       <label>Email address<label class="text text-danger">*</label></label>
        <input #email type="email" id="email" class="form-control" placeholder="Email Address*" width="20px" required>
        <small class="form-text text-muted">We'll never share your email with anyone else.</small><br>
      
        <label>Password<label class="text text-danger">*</label></label>
        <input #password type="password" id="pass" class="form-control"placeholder="Password*" required><br>
        <button type="submit" class="btn btn-primary" (click)="getdata(email,password)">Login</button>&nbsp;
        <button type="submit" class="btn btn-success">Signup</button>

        &nbsp;OR&nbsp;
        <button class="loginBtn loginBtn--facebook">Login with Facebook</button>&nbsp;
        <button class="loginBtn loginBtn--google">Login with Google</button><br>

        <button type="button" class="btn btn-link">Forgot Your Password?</button>
      </div>
    </form>
  </body>
</html>